/* Start font */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/* End font */

/* Start body */
body{
   background-color:floralwhite;
   font-family:'Oswald', sans-serif;
   font-size:16;
   line-break: 1.5;
   margin:0;
   padding: 0;
}
/* end body */

/* Start heading*/
h1 {
    /* color:midnightblue; */
    /* font-family:'Lucida Sans'; */
    /* end heading */
}
/* Start heading*/
h2 {
    /* color:mediumslateblue */
    /* end heading */
}
/* Start heading*/
h3 {
    /* color:mediumslateblue */
    /* end heading */
}
/*start judul*/
.warna-judul {
    width:30%;
    margin: 0px;
    padding: 5px;
    text-align:left ;
    color: black;
    font-size: x-large;
    letter-spacing: 1px;
}
/*end judul*/

/*start container */
.container {
    margin: 10px auto;
    width: 95%;

}
/* End container */

/*start debug*/
.bg-red {
    background-color:red;
}
.bg-blue { /*class*/
    background-color:blueviolet;
}
/* End debug*/

/*start frame*/
.bingkai{
    border: 10px double black;
    width: 40%;
    float: left;
}

.bingkai h2{
    text-align: center;
}
.bingkai1{
    margin: 20px;
    padding: 20px;
    background-color: coral;
}

/* End frame*/

/*Start Heading*/
h1,h2,h3,h4,h5 {
    color:black;
    font-style: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
/*end heading*/ 
/*Start menubaru*/
.menubaru{
  text-align: center;
}
/*end  menubaru*/

/*Start efek menubaru*/
span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}
/*end efect menubaru*/

/*Start efect*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato);
.snip1508 {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #1A1A1A;
}

.snip1508 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1508 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1508 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: #202123;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.snip1508 h2,
.snip1508 h3,
.snip1508 p {
  margin: 0;
}

.snip1508 h2,
.snip1508 h3 {
  font-family: 'Slabo 27px', serif;
  line-height: 1.2em;
}

.snip1508 h2 {
  font-size: 1.9em;
  color: #35ADF9;
}

.snip1508 h3 {
  color: #EBEBEB;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 1px;
}

.snip1508 p {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin-top: 12px;
  padding: 12px 0 15px;
  line-height: 1.5em;
}

.snip1508 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1508:hover > img,
.snip1508.hover > img {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.snip1508:hover figcaption,
.snip1508.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/*Start Tentang Kami*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.snip1506 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  display: inline-block;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}
.snip1506 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1506 .profile-image {
  width: 26%;
}
.snip1506 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  vertical-align: top;
}
.snip1506 .profile-image,
.snip1506 figcaption {
  float: left;
}
.snip1506 figcaption {
  width: 70%;
  background-color: #333333;
  color: #fff;
  padding: 25px;
  display: inline-block;
  margin-left: 4%;
  border-radius: 5px;
}
.snip1506 figcaption:after {
  content: '';
  position: absolute;
  right: 70%;
  top: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #333333 transparent transparent;
}
.snip1506 h3,
.snip1506 h4,
.snip1506 p {
  margin: 0 0 5px;
}
.snip1506 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Montserrat', Arial, sans-serif;
}
.snip1506 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}
.snip1506 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1506 .icons {
  text-align: center;
  width: 100%;
}
.snip1506 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.75;
}
.snip1506 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1506 a {
  text-decoration: none;
}

}
/* end Tentang Kami */

/* kode menu utama */
ul {
  list-style: none;
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* start medsos */
.medsos{
text-align:left;
display:inline-block;
}
/* end medsos */

.menubawah li{
  float:none;
}

.tesaja{
  background-color: black;
}